<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>298612250473-ilvvg1nhg20jd2c9u7a5d579rm370fgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298612250473-ilvvg1nhg20jd2c9u7a5d579rm370fgo</string>
	<key>API_KEY</key>
	<string>AIzaSyCDDSvwDOmgGwC60PJkaqe8P9c4sXAqNNM</string>
	<key>GCM_SENDER_ID</key>
	<string>298612250473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.vladGnilozyb.MemeCreator</string>
	<key>PROJECT_ID</key>
	<string>memecreator-6d490</string>
	<key>STORAGE_BUCKET</key>
	<string>memecreator-6d490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298612250473:ios:6e75ece4bc52fdce</string>
	<key>DATABASE_URL</key>
	<string>https://memecreator-6d490.firebaseio.com</string>
</dict>
</plist>